header.header
    .container
        .header-content
            a.logo(href="index.html")
                object(type="image/svg+xml" data="static/images/general/logo.svg" width="88" height="64")
                    img.logo__img(src="static/images/general/logo.png" alt="BattleGrounds")
            .socials
                a.socials__link(href="#")
                    +icon("twitter","socials__icon")
                a.socials__link(href="#")
                    +icon("twitch","socials__icon")
                a.socials__link(href="#")
                    +icon("fb","socials__icon")
                a.socials__link(href="#")
                    +icon("vk","socials__icon")