.cards-slider
    .cards.js-cards-slider
        include matches-cards/_matches-card-1
        include matches-cards/_matches-card-2
        include matches-cards/_matches-card-3
        include matches-cards/_matches-card-1
        include matches-cards/_matches-card-2
        include matches-cards/_matches-card-3
    .cards-slider__nav
        button.cards-slider__btn.prev
            <svg class="cards-slider__icon" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="42.5" cy="42.5" r="41.5" transform="rotate(180 42.5 42.5)" stroke="#F3A917" stroke-width="2"/><path d="M22.7929 41.2929C22.4024 41.6834 22.4024 42.3166 22.7929 42.7071L29.1569 49.0711C29.5474 49.4616 30.1805 49.4616 30.5711 49.0711C30.9616 48.6805 30.9616 48.0474 30.5711 47.6569L24.9142 42L30.5711 36.3431C30.9616 35.9526 30.9616 35.3195 30.5711 34.9289C30.1805 34.5384 29.5474 34.5384 29.1569 34.9289L22.7929 41.2929ZM67 41L23.5 41L23.5 43L67 43L67 41Z" fill="white"/></svg>
        .cards-slider__dots
        button.cards-slider__btn.next
            <svg class="cards-slider__icon" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="42.5" cy="42.5" r="41.5" stroke="#F3A917" stroke-width="2"/><path d="M62.2071 43.7071C62.5976 43.3166 62.5976 42.6834 62.2071 42.2929L55.8431 35.9289C55.4526 35.5384 54.8195 35.5384 54.4289 35.9289C54.0384 36.3195 54.0384 36.9526 54.4289 37.3431L60.0858 43L54.4289 48.6569C54.0384 49.0474 54.0384 49.6805 54.4289 50.0711C54.8195 50.4616 55.4526 50.4616 55.8431 50.0711L62.2071 43.7071ZM18 44H61.5V42H18V44Z" fill="white"/></svg>
