.btn {
  padding: 0 10px;
  min-width: 246px;
  height: 50px;
  text-transform: uppercase;
  @include rem(16);
  font-weight: 600;
  @include btn_border;
  transition: transform .3s;
  @include media-breakpoint-down(md) {
    min-width: 210px;
    height: 45px;
    @include rem(15);
  }

  &:hover {
    animation: sketchIn 1s linear 1;
  }

  &:active {
    transform: scale(.9);
  }

  &--filled {
    background-color: $accent_color;
    color: #000000;
    transition: background-color .1s, color .1s, transform .3s;

    &:hover {
      background-color: transparent;
      color: #ffffff;
    }
  }

  &--bordred {
    background-color: transparent;
    color: #ffffff;
  }

  &-register {
    padding: 0 10px;
    min-width: 340px;
    height: 60px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 100% 2px,
    2px 100%,
    100% 2px,
    2px 100%;
    background-position: 0 0,
    100% 0,
    100% 100%,
    0 100%;
    @include rem(16);
    font-weight: 600;
    transition: transform .3s, background-image .3s, background-color .3s, color .3s;
    @include media-breakpoint-down(sm) {
      min-width: 235px;
      height: 45px;
      @include rem(15);
    }

    &:hover {
      background-image: linear-gradient(to right, $dark_grey 100%, $dark_grey 100%),
      linear-gradient(to bottom, $dark_grey 100%, $dark_grey 100%),
      linear-gradient(to right, $dark_grey 100%, $dark_grey 100%),
      linear-gradient(to bottom, $dark_grey 100%, $dark_grey 100%);
      color: #ffffff;
      background-color: $dark_grey;
      animation: sketchIn 1s linear 1;
      transition: background-color .3s 1s, color .3s 1s;
    }

    &:active {
      transform: scale(.9);
    }

    &__icon {
      margin-right: 10px;
      @include size(24px);
      fill: $accent_color;
    }
  }
}

.tabs-btn {
  padding: 15px 36px;
  background-color: transparent;
  @include btn_border;
  color: #ffffff;
  @include rem(18);
  font-weight: 700;
  transition: background-color .3s;
  @include media-breakpoint-down(sm) {
    padding: 10px 26px;
    @include rem(15);
  }

  &:hover {
    animation: sketchIn 1s linear 1;
    background-color: transparent;
  }

  &.active {
    background-color: $accent_color;

    &:hover {
      background-color: transparent;
    }
  }
}

.btn-watch {
  padding: 10px 20px;
  background-color: $accent_color;
  @include btn_border;
  color: #ffffff;
  transition: background-color .3s, transform .3s;

  &:hover {
    animation: sketchIn 1s;
    background-color: transparent;
  }

  &:active {
    transform: scale(.9);
  }

  &__icon {
    @include size(14px, 17px);
    margin-right: 10px;
    fill: #ffffff;
    vertical-align: middle;
  }

  &__text {
    @include rem(14);
    text-transform: uppercase;
  }
}

@keyframes sketchIn {
  0% {
    background-size: 0 2px,
    2px 0,
    0 2px,
    2px 0;
  }
  25% {
    background-size: 100% 2px,
    2px 0,
    0 2px,
    2px 0;
  }
  50% {
    background-size: 100% 2px,
    2px 100%,
    0 2px,
    2px 0;
  }
  75% {
    background-size: 100% 2px,
    2px 100%,
    100% 2px,
    2px 0;
  }
  100% {
    background-size: 100% 2px,
    2px 100%,
    100% 2px,
    2px 100%;
  }
}