.tabs {
  margin-top: 40px;
  border-top: 1px solid $accent_color;
  @include media-breakpoint-down(lg) {
    margin-top: 20px;
  }
  &-header {
    display: flex;
    margin-bottom: 85px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 30px;
    }
  }
  &-item {
    display: none;
    &.active {
      display: block;
    }
  }
}