.card
    .card-front
        .card-header
            span.card-title Asia Minor: Play-Off
            span.card-date
                span.card-date__month 29 Oct
                span.card-date__time 19:00
        .card-body
            .card-team__avatars
                span.card-team__avatar.icon-game_logo_2
                span.card-team__avatar.icon-game_logo_3
            .card-team__info
                span.card-team__group Ricardo Hawkins
                span.card-team__rating 3.22
            .card-team__info
                span.card-team__group Bruce Simmons
                span.card-team__rating 53.22
        .card-footer
            span.card-info Starts in: 5 hours 39 min • Bо 3
            span.icon-game_logo_6
    .card-back
        a.btn-watch(href="#")
            +icon('watch', 'btn-watch__icon')
            span.btn-watch__text Watch Live