section.main
    include ../components/_header
    .main-slider__wrapper
        .main-slider.js-main-slider
            .main-slider__item(style="background-image: url(static/images/content/main-slider/main-slide-1.jpg)")
                .container
                    .main-slider__content
                        picture
                            source(type="image/webp" srcset="static/images/general/battle_grounds_logo.webp 1x")
                            img.main-slider__logo(src="static/images/general/battle_grounds_logo.png")
                        h1.main-slider__title ESL Pro League CSGO
                        p.main-slider__text League CS:GO is the new online league in Counter-Strike: Global Offensive, with $100,000 total prize pool. 16 teams from Europe and the CIS will take part in the League, with 4 teams going to League through open qualifiers.
                        .main-slider__buttons
                            button.btn.btn--filled.js-smooth-scroll(data-target="#steps") Read Announcement
                            button.btn.btn--bordred Get Tickets
            .main-slider__item(style="background-image: url(static/images/content/main-slider/main-slide-2.jpg)")
                .container
                    .main-slider__content
                        picture
                            source(type="image/webp" srcset="static/images/general/battle_grounds_logo.webp 1x")
                            img.main-slider__logo(src="static/images/general/battle_grounds_logo.png")
                        h1.main-slider__title ESL Pro League CSGO
                        p.main-slider__text League CS:GO is the new online league in Counter-Strike: Global Offensive, with $100,000 total prize pool. 16 teams from Europe and the CIS will take part in the League, with 4 teams going to League through open qualifiers.
                        .main-slider__buttons
                            button.btn.btn--filled.js-smooth-scroll(data-target="#steps") Read Announcement
                            button.btn.btn--bordred Get Tickets
            .main-slider__item(style="background-image: url(static/images/content/main-slider/main-slide-3.jpg)")
                .container
                    .main-slider__content
                        picture
                            source(type="image/webp" srcset="static/images/general/battle_grounds_logo.webp 1x")
                            img.main-slider__logo(src="static/images/general/battle_grounds_logo.png")
                        h1.main-slider__title ESL Pro League CSGO
                        p.main-slider__text League CS:GO is the new online league in Counter-Strike: Global Offensive, with $100,000 total prize pool. 16 teams from Europe and the CIS will take part in the League, with 4 teams going to League through open qualifiers.
                        .main-slider__buttons
                            button.btn.btn--filled.js-smooth-scroll(data-target="#steps") Read Announcement
                            button.btn.btn--bordred Get Tickets
        .main-slider__dots