section.steps#steps
    .container
        .steps-content
            .steps-info
                h2.section-title.section-title--black Этапы проведения
                p.section-text.section-text--black The path to every Major begins with the open qualifiers for the regional Minor Championships, spanning Europe, CIS, Americas, and Asia. <span class="attention-text">Here is</span> the schedule of every qualifying stage of StarLadder Major.
            .steps-stages
                .steps-stages__list
                    .steps-stages__item
                        +icon("trophy", "steps-stages__icon")
                        h5.steps-stages__title.active Registration
                        span.steps-stages__date
                            span.nowrap 29 sep,
                            span.nowrap 19:00 – 20 nov,
                            span.nowrap 10:00
                    .steps-stages__item
                        +icon("tools-and-utensils", "steps-stages__icon")
                        h5.steps-stages__title Check-in
                        span.steps-stages__date
                            span.nowrap 29 sep,
                            span.nowrap 19:00 – 20 nov,
                            span.nowrap 10:00
                    .steps-stages__item
                        +icon("date", "steps-stages__icon")
                        h5.steps-stages__title Scheduling:
                        span.steps-stages__date
                            span.nowrap 29 sep,
                            span.nowrap 19:00 – 20 nov,
                            span.nowrap 10:00
                button.steps-stages__btn.btn-register
                    +icon("checked", "btn-register__icon")
                    span.btn-register__text Вы зарегистрированы
